.li-summary {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.li-details {
    color: #4285F4;
    font-weight: 500;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .li-summary {
        font-size: 16px;
    }
}