
.cc-main {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: white;
    width: 90%;

}

.cc-img-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.cc-img {
    border: 2px solid #eee;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cc-rc-wrapper {
    border-left: 1px solid var(--dark);
    padding-left: 10px;
}


.cc-rc-col {
    margin: 10px 0;
}

.cc-col {
    margin: 10px;

}

.cc-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.cc-lc-txt {
    font-weight: 700;
}

.cc-rc-txt {
    font-weight: 700;
}


@media screen and (max-width: 550px) {
    .cc-main {
        justify-content: center;
        text-align: center;
    }
    .cc-rc-wrapper {
        padding: 0;
        border: none;
    }
    .cc-rc-txt {
        text-align: center;
        word-wrap: break-word;
    }
    .cc-col {width: 100%;}

}