.ef-container {
    margin: 0 auto;
}

.ef-label {
    color: #eee;
}

.ef-container > * {
    display: block;
    margin: 20px 0;
}


.ef-input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    background: #eee
    ;
}


@media screen and (max-width: 1050px) {
    .ef-container {
        width: 50%;
    }
}

@media screen and (max-width: 680px) {
    .ef-container {
        width: 100%;
    }
}

