

.resources-container {
    min-height: 90vh;
    box-sizing: border-box;
    padding-top: 10vh;
    max-width: 1200px;
    margin: 0 auto;
}



.rc-flex-container {
    display: flex;
    margin: 50px auto 0 auto;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

.rc-col {
    width: 75%;
    padding: 10px;
    background-color: var(--dark);
    box-sizing: border-box;
    margin: 0 auto;
}


.rc-contact-header {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid var(--dark);
}

.rc-contact-description {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

@media screen and (max-width: 1050px) {
    .rc-flex-container {
        flex-direction: column;
        background-color: inherit;
    }

    .rc-col {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .rc-col {
        width: 100%;
    }
}