
.scg-header {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.scg-content {
    background: white;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.scg-desc {
    text-align: center;
    margin: 50px 0
}

@media screen and (max-width: 500px) {
    .scg-main {
        padding-top: 0;
    }
}