

.dashboard-tile-main {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            padding: 20px;
            text-align: center;
            transition: 200ms linear box-shadow;
            cursor: pointer;
}


.dt-title {
    margin-bottom: 20px;
    font-size: 27px;
    width: 325px;
}

.dashboard-tile-main i {
    font-size: 45px;
}

.dashboard-tile-main:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

