/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.link-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    align-items: center;

}

.li-icon {
    margin-right: 15px;
}

.link-item-text {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .link-item-text {
        font-size: 16px;
    }
}