/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.gc-main {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;     */
    width: 350px;
}

.gc-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.gc-icon-header i {
    font-size: 3rem;
}

.gc-icon-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
}

.gc-title-container {
    padding: 10px 0;
}

.gc-main-body {
    padding: 15px;
    overflow-y: auto;
}

.gc-body-item {
    font-size: 23px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    word-wrap: break-word;
}