/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.gathering-form-container {
    background: var(--dark);
    padding: 25px;
    max-width: 600px;
    margin: 50px auto 0 auto;
}

.gt-title-wrapper {
    margin-bottom: 10px;
}

.gt-title {
    font-size: 25px;
    color: #eee;
}

.gt-submit-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.submit-gtf {
    outline: none;
    border: 2px solid #eee;
    background: inherit;
    font-size: 18px;
    margin-top: 10px;
    color: #eee;
    padding: 10px 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
    ;
}

.submit-gtf:hover {
    background: #eee;
    color: var(--dark);
}

@media screen and (max-width: 455px) {
    .gt-title {
        text-align: center;

    }
    .gt-submit-wrapper {
        margin-top: 20px;
    }
}
