/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gtff-container > * {
    display: block;
}


.gtff-label {
    color: #eee;
    margin: 10px 0;
}


.gtff-input {
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eee;
}