.footer-container {
    background-color: var(--dark);
    box-sizing: border-box;
    padding: 25px 0;
}

.footer-message {
    text-align: center;
    font-size: 16px;
    color: #eee;
}

.author-small {
    color: #eee;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
}