.footer-container {
    background-color: var(--dark);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}


.footer-message {
    text-align: center;
    font-size: 16px;
    color: #eee;
}

.author-small {
    color: #eee;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
}