.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 100;
}

.navbar-container-large {
    border-bottom: 5px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 7vh;

}

.nav-logo-wrapper {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.logo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.nav-title {
    font-weight: bold;
    font-size: 25px;
    color: var(--dark);
}


@media screen and (max-width: 350px) {
    
    .nav-logo-wrapper {
        display: none;
    }
}


/* For small screens */
@media screen and (max-width: 1059px) {
    .navbar-container-large {
        display: none;
    }

    .navbar-container-small {
        border-bottom: 5px solid #eee;
        padding: 0px 20px;
        height: 7vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-hamburger {
        width: 24px;
        border: 1px solid lightgray;
        border-radius: 5px;
        z-index: 30;
        height: 24px;
        padding: 5px;
        cursor: pointer;
    }

    .nav-hamburger:after,
    .nav-hamburger:before,
    .nav-hamburger div {
        background: var(--dark);
        border-radius: 3px;
        content: "";
        display: block;
        height: 2px;
        margin: 4px 0px;
        transition: all 150ms ease-in-out;
    }

    .nav-title {
        font-size: 18px;
    }

    .nav-hamburger.active-x:before {
        transform: translateY(6px) rotate(-135deg)
    }

    .nav-hamburger.active-x::after {
        transform: translateY(-6px) rotate(135deg);
    }

    .nav-hamburger.active-x div {
        transform: scale(0);
    }

    .nav-menu-slider {
        position: fixed;
        top: 7vh;
        left: 0;
        transform: translateX(-400px);
        min-width: 400px;
        width: 400px;
        transition: transform 300ms ease;
        padding: 30px;
        box-sizing: border-box;
        background: #eee;
        height: 92vh;
        display: inline-block;
    }

    .nav-menu-slider.nav-slider-open {
        transform: translateX(0px)
    }

    .nav-menu-item {
        padding: 10px;
        transition: 100ms linear all;
    }

    .nav-menu-item:hover {
        background: lightgray
    }

    .nav-item-text {
        font-weight: bold;
        color: var(--dark);
        padding: 5px 0;
    }
}

/* All screens > 976px */
@media screen and (min-width: 1060px) {
    .navbar-container-small {
        display: none;
    }
    .link {
        padding: 0 10px;
    }
    
    .nav-links {
        display: flex;
    }
    
    
    .link-text {
        text-decoration: none;
        font-weight: bold;
        color: var(--dark);
        padding: 10px;
        transition: all 300ms linear;
    }
    
    .link-text:hover {
        color: white;
        background: var(--dark);
    }
}